.sidebar {
	font-size: 1.6rem;
	line-height: 1.5;
	@include breakpoint(960px){
		width: 15.50%;
	}
	&.sidebar-front{
		padding-left: 1.375em; //22px - 16
		padding-right: 1.375em; //22px - 16
		width: 27.5133%;
	}
	.widget {
		margin-bottom: 40px;
	}
	p {
		margin-bottom: 20px;
	}
}
