.sidebar {
	//font-size: 1.6rem;
	//line-height: 1.5;
	@include breakpoint(960px) {
		padding-top: 1.5em; //24px -16
		max-width: 222px;
		width: 22.663%;
		//&:not(.sidebar-front) {
		//	.home & {
		//		width: 15.5%;
		//	}
		//}
	}
	&.sidebar-primary {
		padding-top: 0.625em; //10px - 16
		.menu-item-type-taxonomy {
			.tax-product_cat & {
				display: none;
			}
			//&:not(.current-menu-item),
			&.current-menu-parent,
			&.current-menu-item {
				display: block;
				> a {
					font-weight: 700;
					//&::after {
					//	display: none;
					//}
				}
				.menu-item {
					display: block;
				}
			}
			&.menu-item-has-children {
				&:not(.current-menu-item):not(.current-product_cat-ancestor) {
					.sub-menu {
						display: none;
					}
				}
			}
			&.current-product_cat-ancestor {
				.sub-menu {
					display: block;
				}
			}
		}
		.menu-item-back {
			background-color: $black;
			margin-left: -24px;
			padding-left: 24px;
			a {
				color: $white;
				&:hover,
				&:focus {
					color: #ddd;
				}
				&::after {
					display: none;
				}
			}
		}
	}
	&.sidebar-secondary {
		border-left: 1px solid #ddd;
		padding-top: 0.875em; //14px - 16
		margin-right: 0;
		margin-left: auto;
		width: 24.794%;
		.widget {
			border-bottom: 1px solid #ddd;
			margin-bottom: 1.125em; //18px - 16
			font-size: 1.3rem;
			line-height: 18px;
			.widget-wrap {
				> div {
					padding-left: 2em; //26px -13
				}
			}
			//&-wrap {
			//	padding-left: 1.5em;
			//}
		}
	}
	&.sidebar-front {
		padding-left: 1.375em; //22px - 16
		padding-right: 1.375em; //22px - 16
		width: 27.5133%;
	}
	&-primary {
		border-right: 1px solid #ddd;
		.menu-item {
			//border-bottom: 1px solid #ddd;
			margin-bottom: 0;

			a {
				display: block;
				padding: 0.5625em 1.5em 0.5625em 0; // 9px 24px 9px 0 - 16
				position: relative;
				&::after {
					content: '';
					width: calc(100% - 24px);
					height: 1px;
					background-color: #ddd;
					position: absolute;
					left: 0;
					right: 1.5em; //24px - 16
					bottom: 0;
				}
				//font-size: 1.3rem;
				//text-decoration: none;
			}
		}
	}
	.widget {
		margin-bottom: 40px;
		li {
			a {
				font-size: 1.3rem;
				text-decoration: none;
			}
		}
	}
	p {
		margin-bottom: 20px;
	}
}
