.site-header {
	//background-color: #fff;
	//padding: 0 1.5em; //24px -16
	box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.1);
	padding-top: 1.6875em; //27px - 16
	padding-bottom: 1.4375em; //23px - 16
	position: relative;
	z-index: 1;
	&::after {
		content: '';
		background-color: $white;
		position: absolute;
		top: 5px;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		transition: opacity 320ms linear;
	}
	@include breakpoint(960px) {
		.header-fixed & {
			position: fixed;
			width: 100%;
			z-index: 9999;
		}
	}
	.search-focus-in & {
		box-shadow: none;
		&::after {
			//content: '';
			//background-color: $white;
			//position: absolute;
			//top: 0;
			//left: 0;
			//right: 0;
			//width: 100%;
			//height: 100%;
			opacity: 1;
			visibility: visible;
			transition: opacity 320ms linear;
		}
	}

	.wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
}

@import 'title-area';
@import 'search-box';
@import 'user-menu';
@import 'mini-cart';
