.site-header {
	//background-color: #fff;
	//padding: 0 1.5em; //24px -16
	box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.1);
	background-color: $white;
	padding-bottom: 1.4375em; //23px - 16
	position: relative;
	z-index: 1;
	&::after {
		content: '';
		background-color: $white;
		position: absolute;
		top: 5px;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		transition: all 320ms linear;
	}
	&.header-fixed {
		position: fixed;
		width: 100%;
		//background: #ff0;
		//top: -32px;
		padding-bottom: 6px;
		z-index: 9999;
		transition: all 320ms linear;
	}
	@include breakpoint(tablet-wide) {
		padding-top: 1.6875em; //27px - 16
	}
	.search-focus-in & {
		background-color: $white;
		box-shadow: none;
		&::after {
			//content: '';
			//background-color: $white;
			//position: absolute;
			//top: 0;
			//left: 0;
			//right: 0;
			//width: 100%;
			//height: 100%;
			opacity: 1;
			visibility: visible;
			transition: opacity 320ms linear;
		}
	}

	.wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		@include breakpoint(960px) {
			padding-left: 1.5em;
			padding-right: 1.5em;
		}
	}
}

@import 'title-area';
@import 'search-box';
@import 'user-menu';
@import 'mini-cart';
