@import 'entry-content';

@import 'entry-meta';

@import 'pagination';

@import 'entry-comments';

@media only screen and (min-width: 960px) {
	.content {
		width: 77.337%;
		.page:not(.woocommerce-page) & {
			padding-left: 5em; //80px - 16 was 2em
			padding-right: 5em; //80px - 16 was 2em
			padding-top: 2em;
		}
		.page.woocommerce-page & {
			padding-top: 2em;
			max-width: initial;
			width: 100%;
		}
		.home.page & {
			padding-left: 4em;
			padding-right: initial;
			padding-top: initial;
		}
		.woocommerce-account &,
		.woocommerce-checkout & {
			padding-left: initial;
			padding-right: initial;
			width: 80.5%;
		}
	}

	//.sidebar-content .content {
	//	float: right;
	//}

	.full-width-content .content,
	.landing-page .content {
		//float: none;
		margin-left: auto;
		margin-right: auto;
	}

	/* Author Box
	--------------------------------------------- */

	.author-box {
		//background-color: #f5f5f5;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 2.53846em; //33px 13
		padding: 40px 9.65% 35px;
		font-size: 1.3rem;
		&-image {
			width: 18.99%;
		}
		&-title {
			font-size: 1.3rem;
			a {
				text-decoration: none;
			}
		}
		&-details {
			width: 80.89%;
		}
		&-content {
			font-size: 1.3rem;
		}
	}

	/* After Entry
	--------------------------------------------- */

	.after-entry {
		padding: 40px 60px;
	}

	.after-entry .enews {
		padding-left: 30px;
		padding-right: 30px;
	}

	/* Entry Misc.
	--------------------------------------------- */

	.after-entry,
	.archive-description,
	.comment-respond,
	.entry,
	.entry-pings {
		margin-bottom: 60px;
	}
}

@media (min-width: 1024px) {
	.content {
		.home.page & {
			padding-left: initial;
			padding-right: initial;
		}
	}
}
