.wp-block-handpicked-products {
	li {
		.entry-content & {
			list-style: none;
		}
		border-top: 8px solid transparent;
		&:hover {
			background-color: rgba(0, 0, 0, 0.02);
			//background-color: #9acd32;
		}
	}
	a {
		text-decoration: none;
		.wc-block-grid__product-title {
			font-weight: 400;
		}
	}
	.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
		border-radius: 2px;
		background-color: #263652;
		padding-top: 4px;
		padding-bottom: 3px;
		max-width: 85px;
		font-size: 13px;
		padding-left: 10px;
		padding-right: 10px;
		font-weight: 400;
		line-height: 18px;
		min-width: 130px;
		&:hover,
		&:focus {
			background-color: #77a464;
		}
	}
}
