.front-page-section {
	//display: flex;
	//flex-wrap: wrap;
	//justify-content: space-between;
	&-main {
		//border-right: 1px solid #ddd;
		padding-top: 1.5em; //24px -16
		//width: 72.3207%;
		@include breakpoint(tablet-wide) {
			padding-left: 2em; //32px - 16
			padding-right: 2em; //32px - 16
		}
	}
}

.featured-articles {
	&-secondary {
		display: flex;
		flex-direction: column;
		margin-top: 2em; //32px - 16
		position: relative;
		@include breakpoint(phone) {
			flex-wrap: wrap;
			justify-content: space-between;
			flex-direction: row;
			&::before {
				content: '';
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 1px;
				height: 100%;
				background-color: #ddd;
				position: absolute;
			}
		}
	}
}

.featured-article {
	text-decoration: none;
	&:hover {
		color: inherit;
		.featured-article-visual {
			img {
				transform: scale(1.02);
				transition: all 320ms linear;
				//transform: perspective(700px) translateZ(10px);
			}
		}
	}
	&-visual {
		margin-bottom: 17px;
		overflow: hidden;
		width: 100%;
		img {
			transition: all 320ms linear;
			width: 100%;
			//transform: perspective(0) translateZ(0);
			//transform-style: preserve-3d;
			//transition: transform 0.5s;
			//will-change: transform;
		}
	}
	&-excerpt {
		h2 {
			font-size: 3rem;
		}
		span {
			margin-bottom: 5px;
			display: inline-block;
			font-size: 1.3rem;
		}
	}
	&.regular-article {
		//flex-basis: 0;
		//flex-grow: 1;
		//min-width: 0;
		word-break: break-word;
		overflow-wrap: break-word;
		@include breakpoint(phone) {
			overflow: hidden;
			width: calc(50% - 15px);
		}
		.featured-article-visual {
			margin-bottom: 0;
		}
		.featured-article-excerpt {
			h2 {
				font-size: 2.4rem;
				font-weight: 600;
			}
			span {
				margin-bottom: 0;
			}
		}
	}
}

.front-slide {
	&:hover {
		.front-slide-visual {
			img {
				transform: scale(1.02);
				transition: all 320ms linear;
				//transform: perspective(700px) translateZ(10px);
			}
		}
	}
	&-visual {
		overflow: hidden;
		img {
			transition: all 320ms linear;
			//transform: perspective(0) translateZ(0);
			//transform-style: preserve-3d;
			//transition: transform 0.5s;
			//will-change: transform;
		}
	}
	&-excerpt {
		font-size: 3rem;
		span {
			font-size: 1.3rem;
		}
	}
}

//.featured-products {
//	display: flex;
//	flex-wrap: wrap;
//	justify-content: space-between;
//	margin-top: 2em; //32px - 16
//	position: relative;
//	&::before {
//		content: '';
//		left: 0;
//		right: 0;
//		top: 0;
//		bottom: 0;
//		margin: auto;
//		width: 1px;
//		height: 100%;
//		background-color: #ddd;
//		position: absolute;
//	}
//}

.featured-product {
	flex-basis: 0;
	flex-grow: 1;
	min-width: 0;
	word-break: break-word;
	overflow-wrap: break-word;
	overflow: hidden;
	@include breakpoint(tablet) {
		width: calc(50% - 15px);
	}
	@include breakpoint(tablet-wide) {
		width: calc(100% - 2em);
	}
	&:not(:first-child) {
		.featured-products & {
			margin-left: 2em; //32px - 16
		}
	}
	.sidebar-secondary & {
		@include breakpoint(tablet-wide) {
			margin-left: 2em; //32px - 16
		}
	}
	&:hover {
		img {
			transform: scale(1.02);
			transition: all 320ms linear;
		}
	}
	img {
		transition: all 320ms linear;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
	.featured-product-title {
		span {
			font-size: 1.3rem;
		}
	}
	.sidebar-front & {
		&:not(:first-child) {
			margin-left: initial;
		}
		.featured-product-title {
			h3 {
				font-size: 1.6rem;
			}
		}
	}
}

.latest-products {
	padding-top: 2em; //32px - 16
	//width: 72.3207%;
	@include breakpoint(phone) {
		.latest-product {
			&:not(:last-child) {
				//margin-right: 15px;
				border-right: 1px solid #ddd;
			}
		}
	}
	@include breakpoint(tablet-wide) {
		margin-right: 0; //14px - 16
		padding-left: 1.125em; //18px - 16
		padding-right: 1.875em; //30px - 16
	}
	@include breakpoint(desktop) {
		margin-right: -0.875em; //14px - 16
	}
	//.slick-dots {
	//	width: auto;
	//}
}

.latest-product {
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	overflow: hidden;
	width: 25%;
	&:hover {
		img {
			transform: scale(1.01);
			transition: all 320ms linear;
		}
	}
	img {
		transition: all 320ms linear;
	}
	//&:hover {
	//	background-color: #ddd;
	//}
	//width: calc(24% - 15px);
	//margin-right: 10px;
	a {
		color: inherit;
		text-decoration: none;
	}
	&-visual {
		margin-bottom: 29px;
	}
	&-details {
		span {
			font-weight: 900;
			font-size: 1.6rem;
		}
		h4 {
			margin-top: 0;
			font-size: 1.6rem;
			line-height: 1;

			span {
				//font-weight: 700;
			}
		}
	}
}
