.site-footer {
	background-color: $black;
	color: $white;
	font-size: 1.3rem;
	line-height: 1.5;
	padding: 30px;
	text-align: center;
	p {
		margin-bottom: 0;
	}
	a {
		color: $white;
	}
}

@import 'last-seen';
@import 'footer-widgets';
@import 'sticky-cart';

@media only screen and (min-width: 960px) {

	/* Footer Widgets
	--------------------------------------------- */

	.footer-widgets .wrap {
		max-width: 1140px;
	}

	.footer-widget-area {
		float: left;
		margin-bottom: 0;
		width: 33.33%; /* fallback for older browsers */
		width: calc(100% / 3);
	}
}
