/* Footer Widgets
--------------------------------------------- */

.above-footer-widget {
	background-color: #333;
	//background-color: #9acd32;
	clear: both;
	font-size: 1.3rem;
	padding-top: 1.307692em; //17px - 13
	//padding: 17px 0 0;
	.wrap {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		@include breakpoint(phone-wide) {
			flex-direction: row;
		}
		@include breakpoint(960px) {
			padding-left: 1.5em;
			padding-right: 1.5em;
		}
		@include breakpoint(desktop) {
			justify-content: space-between;
		}
	}
	.widget {
		color: $white;
		margin-bottom: 2em; //26px;
		@include breakpoint(phone-wide) {
			flex-basis: 50%;
		}
		@include breakpoint(768px) {
			margin-bottom: 0;
			padding-left: 2em; //32px - 13
			padding-bottom: 1.53846em; //20px - 13
			flex-basis: 30%;
			&:first-of-type {
				padding-left: 0; //10px - 13
			}
			&:last-of-type {
				padding-right: 0.76923em; //10px - 13
				padding-left: 0;
			}
		}
		@include breakpoint(tablet-wide) {
			padding-right: 2em; //32px - 13
			flex-basis: auto;
			&:last-of-type {
				padding-right: 0.76923em; //10px - 13
				padding-left: 2em;
			}
		}
		@include breakpoint(desktop) {
			&:first-of-type {
				padding-left: 0.76923em; //10px - 13
			}
		}
		.widget-title {
			margin-bottom: 1.307692em; //17px - 13
		}
		ul {
			> li {
				margin-bottom: 0.461538em; //6px - 13
			}
		}

		a {
			color: rgba(255, 255, 255, 0.7);
			text-decoration: none;
			&:focus,
			&:hover {
				color: $white;
			}
		}
	}
	&.widget-sixts {
		.widget {
			flex: 0 0 16.66667%;
			max-width: 16.66667%;
		}
	}
}
