/* Genesis
--------------------------------------------- */

.after-entry,
.archive-description,
.author-box {
	margin-bottom: 40px;
}

.after-entry {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
	padding: 20px 30px;
}

.after-entry .widget:last-of-type {
	margin-bottom: 0;
}

.breadcrumb {
	//border-bottom: 1px solid #eee;
	font-size: 1.2rem;
	margin-bottom: 1.916667em; //23px - 12
	//margin-left: 2.384615em; //31px - 13
	padding-bottom: 0.833333em; //10px - 12

	.single-post &,
	.shop &,
	.woocommerce-cart &,
	.woocommerce-checkout &,
	.mailpoet_page-template-default & {
		display: none;
	}
	.woocommerce.single-product & {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
	> span {
		> span {
			display: flex;
			align-items: center;
			line-height: 1;
		}
	}
	a {
		text-decoration: none;
		margin-right: 0.538462em; //7px - 13
		//margin-left: 0.538462em; //7px - 13
		//padding-top: 2px;
		line-height: 1;
		&:hover,
		&:focus {
			color: #b3b3b3;
		}
	}
	.breadcrumb-link-wrap {
		&:not(:first-of-type) {
			margin-left: 0.538462em; //7px - 13
		}
	}

	&_last {
		margin-left: 0.538462em; //7px - 13
		padding-top: 2px;
		line-height: 1;
	}
	.archive & {
		> span {
			> span {
				> a {
					margin-top: 3px;
				}
				> span.breadcrumb-separator {
					&[aria-label='breadcrumb separator'] {
						//&:first-of-type {
						margin-right: 7px;
						//}
					}
				}
			}
		}
	}
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}
