/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.entry-content .search-form {
	margin-bottom: 40px;
	width: 50%;
}

.post-password-form input[type='submit'],
.search-form input[type='submit'] {
	margin-top: 10px;
	border-radius: 2px;
	background-color: #263652;
	padding-top: 4px;
	padding-bottom: 3px;
	max-width: 85px;
	font-size: 13px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 400;
	line-height: 18px;
	&:hover,
	&:focus {
		background-color: #77a464;
		color: #fff;
	}
}

.widget_search input[type='submit'] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}
