/* Titles
--------------------------------------------- */

.archive-description .entry-title,
.author-box-title {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 10px;
}

.entry-title {
	font-size: 3.6rem;
	line-height: 42px;
	//font-weight: 300;
	margin-bottom: 10px;
	.single-post & {
		padding-left: 9.65%;
		padding-right: 9.65%;
	}
}

.entry-title-above {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 1.0625em; //17px - 16
	padding-left: 9.65%;
	padding-right: 9.65%;
}

.entry-title a,
.sidebar .widget-title a {
	color: #333;
	text-decoration: none;
}

.entry-title a:focus,
.entry-title a:hover {
	color: #0073e5;
}

.widget-title {
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	.sidebar-secondary & {
		border-bottom: 1px solid #ddd;
		font-size: 1.8rem;
		line-height: 27px;
		padding-bottom: 0.708333em; //17px - 24
		padding-left: 1.083333em; // 26px - 24
	}
	.widget_shopping_cart & {
		.sidebar-secondary & {
			margin-bottom: 0.0416667em; //1px - 24
		}
	}
}
