/* WooCommerce Product Tabs
---------------------------------------------------------------------------------------------------- */
.woocommerce {
	div.product {
		.woocommerce-tabs {
			ul {
				&.tabs {
					.content-sidebar-sidebar &,
					.sidebar-content-sidebar &,
					.sidebar-sidebar-content & {
						padding: 0;
					}
					li {
						background-color: #f5f5f5;
						border-width: 0;
						border-radius: 0;
						padding-left: 0;
						padding-right: 0;
						&.active {
							a {
								&:not([class*='star']) {
									&::before {
										transform: rotate(-180deg);
									}
								}
							}
						}
						.content-sidebar-sidebar &,
						.sidebar-content-sidebar &,
						.sidebar-sidebar-content & {
							background-color: #fff;
							position: relative;
							display: block;
							margin: 0;
						}
						&::before,
						&::after {
							display: none;
						}
						&:hover {
							a {
								&:not([class*='star']) {
									background-color: rgba(0, 0, 0, 0.02);
								}
							}
						}
						a {
							&:not([class*='star']) {
								color: #000;
								padding-left: 23px;
								padding-right: 23px;
								display: block;
								font-size: 1.3rem;
								line-height: 18px;
								padding-top: 1em;
								padding-bottom: 1em;
								&::before {
									content: '\25be';
									display: inline-block;
									padding: 3px 0;
									line-height: 1;
									vertical-align: sub;
									font-size: 28px;
									position: relative;
									left: -5px;
								}
							}
							&:focus,
							&:hover {
								outline-width: 0;
							}
						}
					}
				}
			}
			.panel {
				display: none;
				margin-bottom: 1em;
				margin-top: 1em;
				padding-left: 1.5625em; /*33px - 16 */
				padding-right: 1.5625em; /*33px - 16 */
				p {
					font-size: 1.3rem;
					line-height: 18px;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	p {
		&.stars {
			span {
				> i {
					display: inline-block;
					position: relative;
					height: 1em;
					width: 1em;
					text-indent: -999em;
					font-style: initial;
					&::before {
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 1em;
						height: 1em;
						line-height: 1;
						font-family: WooCommerce;
						content: '\e021';
						text-indent: 0;
					}
				}
			}
		}
	}
}

.single-product {
	.woocommerce {
		div {
			&.product {
				.woocommerce-tabs {
					ul {
						&.tabs {
							&::before {
								display: none;
							}
							> li {
								&::before {
									content: '';
									position: absolute;
									display: block;
									width: calc(100% - 46px);
									height: 1px;
									background-color: #ddd;
									left: 1.4375em; /*23px - 16*/
									right: 1.4375em; /*23px - 16*/
									margin: auto;
									top: 0;
									bottom: auto;
									transition: all 320ms linear;
									box-shadow: none;
									border-radius: 0;
								}
								&:last-child {
									&::after {
										content: '';
										position: absolute;
										display: block;
										width: calc(100% - 46px);
										height: 1px;
										background-color: #ddd;
										left: 1.4375em; /*23px - 16*/
										right: 1.4375em; /*23px - 16*/
										margin: auto;
										top: auto;
										bottom: 0;
										transition: all 320ms linear;
										box-shadow: none;
										border-radius: 0;
									}
									&:hover {
										&::after {
											width: 100%;
											left: 0;
											right: 0;
											transition: all 320ms linear;
										}
									}
								}
								&.active {
									&::after {
										content: '';
										position: absolute;
										display: block;
										width: calc(100% - 46px);
										height: 1px;
										background-color: #f00;
										left: 1.4375em; /*23px - 16*/
										right: 1.4375em; /*23px - 16*/
										margin: auto;
										top: auto;
										bottom: -1.0625em; /* 17px - 16*/
										transition: all 320ms linear;
										box-shadow: none;
										border-radius: 0;
									}
									&:hover {
										&::after {
											width: 100%;
											left: 0;
											right: 0;
											transition: all 320ms linear;
										}
									}
								}
								&:hover {
									&::before {
										width: 100%;
										left: 0;
										right: 0;
										transition: all 320ms linear;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.related {
		&.products {
			padding-left: 1.625em; /*26px - 16*/
			padding-right: 1.625em; /*26px - 16*/
		}
	}
}

.comment-respond {
	font-size: 1.3rem;
	line-height: 18px;
}
