.woocommerce-product-details__short-description {
	clear: both;
}

.flex {
	&-control-nav,
	&-direction-nav {
		position: absolute;
	}
	&-control {
		&-nav {
			bottom: -60px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
			z-index: 1;
			li {
				//margin-left: 5px;
				margin-right: 5px;
			}
			a {
				border: 1px solid #565656;
				border-radius: 50%;
				display: inline-block;
				text-indent: -9999px;
				height: 10px;
				width: 10px;
				&.flex-active {
					background-color: #565656;
				}
			}
		}
	}
	&-direction {
		&-nav {
			top: 50%;
			width: 100%;
		}
	}
	&-nav {
		&-next,
		&-prev {
			position: absolute;
			//overflow: hidden;
			z-index: 0;
			a {
				border: 1px solid rgba(0, 0, 0, 0.1);
				background-color: $white;
				border-radius: 50%;
				text-indent: -9999px;
				display: inline-block;
				position: relative;
				overflow: hidden;
				box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
				width: 30px;
				height: 30px;
				&::before,
				&::after {
					border-right: 2px solid;
					content: '';
					display: block;
					height: 8px;
					margin-top: -6px;
					position: absolute;
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
					-webkit-transform: rotate(135deg);
					transform: rotate(135deg);
					right: 12px;
					top: 50%;
					width: 0;
				}
				&::after {
					margin-top: -1px;
					transform: rotate(45deg);
				}
			}
		}
		&-next {
			right: 0;
			left: auto;
		}
		&-prev {
			right: auto;
			left: 0;
			a {
				transform: rotate(180deg);
			}
		}
	}
}

.product-thumbnails-count {
	position: relative;
	z-index: 2;
	text-align: center;
	//color: #f00;
	//background: #ff0;
	width: 100%;
}

//@media all and (min-width: 800px) {
.fancybox-thumbs {
	top: auto;
	width: auto;
	bottom: 0;
	left: 0;
	right: 0;
	height: 95px;
	padding: 10px 10px 5px 10px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.3);
}

.fancybox-show-thumbs .fancybox-inner {
	right: 0;
	bottom: 95px;
}

.fancybox-product {
	&-info {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding-left: 10px;
		padding-top: 12px;
		font-size: 2.4rem;
	}
	&-price {
		line-height: 1;
		font-weight: 700;
	}
	&-name {
		span {
			span {
				font-weight: 700;
			}
		}
	}
	&-categories {
		display: inline-flex;
	}
	&-category {
		font-size: 1.3rem;
	}
}

.shipping-time {
	p {
		color: #bed003;
		//> span {
		//	margin-right: 5px;
		//}
	}
}
